body{
    font-family: "Open Sans", sans-serif;


    text-align: center;
    margin: 0;

    background-image: url("./arquivos/bg.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#info{
    width: 592px;
    margin: 0 auto;
    margin-bottom: 151px;

}

#info img{
    margin-bottom: 40px;
    margin-top: 40px;
}

h1{
    font-family: "inter", "Open-sans";
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
    color: #7D7987;
}

h1 span{
    font-weight: bold;

    color: #C64132;
}

span, a{
    color: #C64132;
    font-weight: bold
}

p{
    color:#7D7987;
    font-size: 14px;
    line-height: 28px;

}

.logo{
    position: fixed;
    right: 12px;
    bottom: 12px;
}

#flutter a + a{
    margin-right: 28px;
}

.linha{
    width: 592px;
    border: solid 2px;
    color: #7D7987;
}